{include file='header.tpl.html' title='site-header'}

{include file='navigation.tpl.html' title='site-header'}
<div style="height:40px;"></div>
<div class="container">



		<div class="sixteen columns">
        
			<div class="box_head">
						<h3>Quên mật khẩu</h3>
					</div>
                    <div class="formContent">
<form action="/" method="post" name="formRegister" id="formRegister">
<fieldset>
{if isset($success)}
<p class="info">{$note}</p>
{else}
<h3>Vui lòng nhập vào thông tin tài khoản để lấy lại mật khẩu mới.</h3>
{if isset($error)}
{if $error.invalid || $error.message}
{assign var=input value=$error.INPUT}
<p class="error">{$messages.error}:
<ul class="error">
{foreach from=$input item=field}
{if $field.error}<li>{$field.message}</li>{/if}
{/foreach}
</ul>
</p>
{/if}
{/if}
<p><label for="username">Tên đăng nhập (<span>*</span>)</label>
<input type="text" value="" name="username" id="username" autofocus="autofocus" /></p>
<p><label for="code">Mã xác nhận (<span>*</span>)</label>
<input type="text" value="" name="code" id="code" />
</p>
<p><label></label><img height="30" id="codeSecurity" alt="AuthImg" src="{if isset($FOLDER)}/{$FOLDER}{/if}/authimg.php"/>

</p>

{/if}
<div class="submitForm">
							<input type="hidden" name="act" value="forgotpassword"/>
							<input class="red_btn" type="submit" name="submit" value="Lấy lại mật khẩu">
                            <input class="gray_btn" type="reset" name="Nhập lại" value="Nhập lại" >
							<div class="clear"></div>
						</div>
</fieldset>
</form>
</div>
		</div><!--end sixteen-->

		
   



</div>

{include file='footer.tpl.html' title='site-header'}