{include file='header.tpl.html' title='site-header'}
{if isset($adItems) && $adItems}
{if $adItems.1}
<div class="container">
		<div class="sixteen columns">
			
			<div id="slide_outer">
				<div class="mainslide">

					<div class="pagers center">
						<a class="prev slide_prev" href="#prev">Prev</a>
						<a class="nxt slide_nxt" href="#nxt">Next</a>
					</div>

					<ul class="cycle-slideshow clearfix" 
			        data-cycle-fx="scrollHorz"
			        data-cycle-timeout="2000"
			        data-cycle-slides="> li"
			        data-cycle-pause-on-hover="true"
			        data-cycle-prev="div.pagers a.slide_prev"
			        data-cycle-next="div.pagers a.slide_nxt"
			        >
                    {foreach from=$adItems.1 item=ad key=i}
                        {assign var=url_logo value=$ad.url_logo}
                        {assign var=url_logo_type value=$ad.url_logo_type}
                        {assign var=logo value=$ad.logo}
                        {assign var=logo_type value=$ad.logo_type}
                        {assign var=width value=$ad.width}
                        {assign var=height value=$ad.height}
                        {assign var=url value=$ad.url}
                        {if $url_logo_type == 'img'}
						<li class="clearfix">
							<div class="slide_img">
								{if $url}<a href="{$url}">{/if}<img style="width:100%"  src="{if isset($url_logo) && $url_logo}{$url_logo}{else}/upload/{$storeId}/resources/l_{$logo}{/if}" />{if $url}</a>{/if}
							</div>
						
						</li>
                        {/if}
                     {/foreach}
						
					</ul>
				</div>
				
			</div>

		</div>
	</div><!-- container -->
    {/if}
    {/if}

    <div class="container">

		

		<div class="sixteen columns">
			<div class="latest">
				
				<div class="box_head">
					<h3>Khuyến mãi</h3>
					<div class="pagers center">
						<a class="prev latest_prev" href="#prev">Prev</a>
						<a class="nxt latest_nxt" href="#nxt">Next</a>
					</div>
				</div><!--end box_head -->

				<div class="cycle-slideshow" 
		        data-cycle-fx="scrollHorz"
		        data-cycle-timeout=0
		        data-cycle-slides="> ul"
		        data-cycle-prev="div.pagers a.latest_prev"
		        data-cycle-next="div.pagers a.latest_nxt"
		        >
                    {if isset($productItems) && $productItems}
                    {if count($productItems)> 4}
                        {foreach from=$productItems item=item key=i}
                            {if $i ==0}
                                <ul class="product_show">
                            {/if}
                            <li>
							<div class="img">
								<div class="hover_over">
									<a class="link" href="{$item->getUrl()}">Chi tiết</a>
									<a class="cart" href="javascript:window.location.href='/?act=cart&amp;plus=quickAdd&amp;pId={$item->getId()}'">Chọn hàng</a>
								</div>
                                {if $item->getAvatar()}
								<a href="{$item->getUrl()}">
									<img src="/uploads/{$storeId}/products/m_{$item->getAvatar()}" alt="{$item->getName()}">
								</a>
                                {/if}
							</div>
							<h6><a href="{$item->getUrl()}">{$item->getName()}</a></h6>
							<h5>{$item->getPrice()|number_format:0:",":"."} VND</h5>
	                       </li>  
                           {if ($i+1) %4 ==0 && $i > 0}
                            </ul>
							<ul class="product_show">
                            {elseif $i==count($productItems)-1}
                            </ul>
                            {/if}
                           
                        
                        {/foreach}
                    
                    {else}
                    <ul class="product_show">
                    {foreach from=$productItems item=item key=i}
                        <li>
							<div class="img">
								<div class="hover_over">
									<a class="link" href="{$item->getUrl()}">Chi tiết</a>
									<a class="cart" href="javascript:window.location.href='/?act=cart&amp;plus=quickAdd&amp;pId={$item->getId()}'">Chọn hàng</a>
								</div>
                                {if $item->getAvatar()}
								<a href="{$item->getUrl()}">
									<img src="/uploads/{$storeId}/products/m_{$item->getAvatar()}" alt="{$item->getName()}">
								</a>
                                {/if}
							</div>
							<h6><a href="{$item->getUrl()}">{$item->getName()}</a></h6>
							<h5>{$item->getPrice()|number_format:0:",":"."} VND</h5>
						</li>                                                                                                               
                    {/foreach}
                     </ul>
                    
                    {/if}
                    
                    {else}
                        Nội dung đang được cập nhật.
                    {/if}                    									
				</div>
			</div><!--end latest-->
		</div><!--end eight-->


		<div class="sixteen columns">
			<div class="latest">
				
				<div class="box_head">
					<h3>Sản phẩm nổi bật</h3>
					<div class="pagers center">
						<a class="prev latest_prev" href="#prev">Prev</a>
						<a class="nxt latest_nxt" href="#nxt">Next</a>
					</div>
				</div><!--end box_head -->

				<div class="cycle-slideshow" 
		        data-cycle-fx="scrollHorz"
		        data-cycle-timeout=0
		        data-cycle-slides="> ul"
		        data-cycle-prev="div.pagers a.latest_prev"
		        data-cycle-next="div.pagers a.latest_nxt"
		        >
                    {if isset($productItems) && $productItems}
                    {if count($productItems)> 4}
                        {foreach from=$productItems item=item key=i}
                            {if $i ==0}
                                <ul class="product_show">
                            {/if}
                            <li>
							<div class="img">
								<div class="hover_over">
									<a class="link" href="{$item->getUrl()}">Chi tiết</a>
									<a class="cart" href="javascript:window.location.href='/?act=cart&amp;plus=quickAdd&amp;pId={$item->getId()}'">Chọn hàng</a>
								</div>
                                {if $item->getAvatar()}
								<a href="{$item->getUrl()}">
									<img src="/uploads/{$storeId}/products/m_{$item->getAvatar()}" alt="{$item->getName()}">
								</a>
                                {/if}
							</div>
							<h6><a href="{$item->getUrl()}">{$item->getName()}</a></h6>
							<h5>{$item->getPrice()|number_format:0:",":"."} VND</h5>
	                       </li>  
                           {if ($i+1) %4 ==0 && $i > 0}
                            </ul>
							<ul class="product_show">
                            {elseif $i==count($productItems)-1}
                            </ul>
                            {/if}
                           
                        
                        {/foreach}
                    
                    {else}
                    <ul class="product_show">
                    {foreach from=$productItems item=item key=i}
                        <li>
							<div class="img">
								<div class="hover_over">
									<a class="link" href="{$item->getUrl()}">Chi tiết</a>
									<a class="cart" href="javascript:window.location.href='/?act=cart&amp;plus=quickAdd&amp;pId={$item->getId()}'">Chọn hàng</a>
								</div>
                                {if $item->getAvatar()}
								<a href="{$item->getUrl()}">
									<img src="/uploads/{$storeId}/products/m_{$item->getAvatar()}" alt="{$item->getName()}">
								</a>
                                {/if}
							</div>
							<h6><a href="{$item->getUrl()}">{$item->getName()}</a></h6>
							<h5>{$item->getPrice()|number_format:0:",":"."} VND</h5>
						</li>                                                                                                               
                    {/foreach}
                     </ul>
                    
                    {/if}
                    
                    {else}
                        Nội dung đang được cập nhật.
                    {/if}                    									
				</div>
			</div><!--end latest-->
		</div><!--end eight-->


		<div class="sixteen columns">
			<div class="latest">
				
				<div class="box_head">
					<h3>Sản phẩm mới nhất</h3>
					
				</div><!--end box_head -->

				
                    {if isset($productItems) && $productItems}
                    {if count($productItems)> 4}
                        {foreach from=$productItems item=item key=i}
                            {if $i ==0}
                                <ul class="product_show">
                            {/if}
                            <li>
							<div class="img">
								<div class="hover_over">
									<a class="link" href="{$item->getUrl()}">Chi tiết</a>
									<a class="cart" href="javascript:window.location.href='/?act=cart&amp;plus=quickAdd&amp;pId={$item->getId()}'">Chọn hàng</a>
								</div>
                                {if $item->getAvatar()}
								<a href="{$item->getUrl()}">
									<img src="/uploads/{$storeId}/products/m_{$item->getAvatar()}" alt="{$item->getName()}">
								</a>
                                {/if}
							</div>
							<h6><a href="{$item->getUrl()}">{$item->getName()}</a></h6>
							<h5>{$item->getPrice()|number_format:0:",":"."} VND</h5>
	                       </li>  
                           {if ($i+1) %4 ==0 && $i > 0}
                            </ul>
							<ul class="product_show">
                            {elseif $i==count($productItems)-1}
                            </ul>
                            {/if}
                           
                        
                        {/foreach}
                    
                    {else}
                    <ul class="product_show">
                    {foreach from=$productItems item=item key=i}
                    {if $i<12}
                        <li>
							<div class="img">
								<div class="hover_over">
									<a class="link" href="{$item->getUrl()}">Chi tiết</a>
									<a class="cart" href="javascript:window.location.href='/?act=cart&amp;plus=quickAdd&amp;pId={$item->getId()}'">Chọn hàng</a>
								</div>
                                {if $item->getAvatar()}
								<a href="{$item->getUrl()}">
									<img src="/uploads/{$storeId}/products/m_{$item->getAvatar()}" alt="{$item->getName()}">
								</a>
                                {/if}
							</div>
							<h6><a href="{$item->getUrl()}">{$item->getName()}</a></h6>
							<h5>{$item->getPrice()|number_format:0:",":"."} VND</h5>
						</li>                          {/if}                                                                                     
                    {/foreach}
                     </ul>
                    
                    {/if}
                    
                    {else}
                        Nội dung đang được cập nhật.
                    {/if}    
			</div><!--end latest-->
		</div><!--end eight-->

		

	</div><!--end container-->
    
{include file='footer.tpl.html' title='site-header'}