{include file='headerindex.tpl.html' title='site-header'}



	<div class="container">
		<div class="sixteen columns">
			<div class="leftcol">
            {include file='left-category.tpl.html' title='left-category'}
			</div> 
            <div class="rightcol">
            <nav id="menu">
				<ul>
                {foreach from=$productCategoryItems.0 item=itemRoot}
                <li><a href="{$itemRoot.url}">{$itemRoot.name} {if $itemRoot.num}<span>({$itemRoot.num}){/if}</span>
                </a></li>
                {/foreach}
				</ul>
			</nav>
             <div class="header">
				<a href="#menu">Danh mục sản phẩm</a>
			</div>
            
		{include file='navigation.tpl.html' title='footer'}
        
		</div> <!-- right-->
		</div>
	</div><!-- container -->

<div class="container">


<div class="content-full">
               
          <div class="ten columns"  style="margin-top:10px; margin-left: 25%;">
                    <div class="top">
        <h3>{$messages.forgotpass}</h3>
        </div>
        <div class="login-cart">
        <form class="frmLogin" action="/" method="post" name="form-signin" id="form-signin">
				<fieldset>
					<p class="form-row">
                    <span>{$messages.email}*</span>
						<input class="inputbox" type="text" value="{if isset($error.INPUT)}{$error.INPUT.email.value}{/if}" name="username-signin" id="email" autocomplete="off" placeholder="{$messages.email}">
					</p>
					<p class="form-row">
                    <span>{$messages.security}*</span>
						<input class="inputbox-security" type="text" value="" name="code" id="code-signin-1" autocomplete="off" placeholder="">
                      <img src="/authimg.php" style="margin-bottom: -5px;">
												
					</p>
                    
                     <div class="btn-row">
					<p class="btn-wrap">
                    	<input type="submit" value="{$messages.next}" title="{$messages.next}" name="btnTiepTuc" class="button">
                     <input type="reset" value="{$messages.reset}" title="{$messages.reset}" name="btnReset" class="button">
                     </p>
                    </div>
				</fieldset>
                <input type="hidden" value="estore" name="op" />
					   <input type="hidden" name="act" value="forgotpassword"/>	
			</form>
        </div>
                    </div>    
					 

</div>


                </div>


</div>


	
{include file='footer.tpl.html' title='footer'}