<!doctype html>
<html lang="en">

<head>
   
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge;chrome=1"><![endif]-->
    <meta name="robots" content="index, follow" />
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <title>shopdonghodep.vn</title>
    <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->
    <link type="image/x-icon" href="images/favicon.ico" rel="icon" />

    <link rel="stylesheet" type="text/css" href="css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="css/libs.css" />
    <link rel="stylesheet" type="text/css" href="css/jquery-ui/jquery-ui.min.css" />

    <link rel="stylesheet" type="text/css" href="css/screen.css" />
       <link rel="stylesheet" type="text/css" href="css/style.css" />
    <!--[if IE 7]><link rel="stylesheet" type="text/css" href="css/iefix7.css" /><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" type="text/css" href="css/iefix8.css" /><![endif]-->
    <!--[if IE 9]><link rel="stylesheet" type="text/css" href="css/iefix9.css" /><![endif]-->

    <link rel="stylesheet" type="text/css" href="css/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="js/vendor/modernizr-2.7.1.min.js"></script>
    <![endif]-->
        <!--[if lt IE 9]>
    <script src="js/vendor/respond.js"></script>
    <![endif]-->
</head>

<body>
    <!--[if lt IE 9]>
        <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <div id="wrapper">
        <header id="header" class="clearfix">
            <div class="main">
               <div class="header-wrap">
                    <div class="logo-wrap">
                        <h1 class="logo">
                            <a href="#" title="">
                                <img src="images/logo.jpg" alt="shopdonghodep.vn" />
                            </a>
                        </h1>
                    </div>
                    <div class="header-inner">
                        <div class="header-hotline">
                            <h3>Hotline 24/24</h3>
                            <h4>0907.788.588 - 0907.55.35.45</h4>
                        </div>
                        <div class="header-support">
                            <a class="ico-yahoo" href="#">
                                <!--img src="http://opi.yahoo.com/online?u=hotmealvn&amp;t=1" width="64" height="16" alt="" /-->
                                <img src="images/yahoo-1.png" width="64" height="16" alt="" />
                                <span>Mr Quốc</span>
                            </a>
                            <a class="ico-yahoo" href="#">
                                <!--img src="http://opi.yahoo.com/online?u=hotmealvn&amp;t=1" width="64" height="16" alt="" /-->
                                <img src="images/yahoo-2.png" width="64" height="16" alt="" />
                                <span>Kinh doanh</span>
                            </a>
                        </div>
                        <div class="header-cart">
                            <a class="header-cart-link">
                                <img src="images/dummy.gif" class="icon-cart" alt="shopdonghodep.vn" />
                                <span class="cart-badge">5</span>
                            </a>
                            <div class="header-cart-total">
                                100.520.000 VNĐ
                            </div>
                        </div>
                    </div>
                </div>
                <nav id="nav">
                    <div class="nav-main">
                        <ul id="zmenu">
                            <li><a class="active" href="#" title="TRANG CHỦ">TRANG CHỦ</a></li>
                            <li><a href="#" title="GIỚI THIỆU CHUNG">GIỚI THIỆU CHUNG</a></li>
                            <li><a href="#" title="HƯỚNG DẪN MUA HÀNG">HƯỚNG DẪN MUA HÀNG</a></li>
                            <li><a href="#" title="BẢO HÀNH">BẢO HÀNH</a></li>
                            <li><a href="#" title="KHUYẾN MÃI">KHUYẾN MÃI</a></li>
                            <li><a href="#" title="LIÊN HỆ">LIÊN HỆ</a></li>
                            <li><a href="#" title="SITEMAP">SITEMAP</a></li>
                        </ul>
                    </div>

                </nav>
                <div id="banner" class="clearfix">
             
                <div class="banner">
                    <div class="slideshow">
                        <div class="slideshow-inner slider-wrapper theme-default">
                           <div class=" nivoSlider">
                                <a href="#banner-1" title="">
                                    <img src="data/images/banner/banner-1.jpg" alt="" />
                                </a>
                                <a href="#banner-2" title="">
                                    <img src="data/images/banner/banner-3.jpg" alt="" />
                                </a>
                                <a href="#banner-3" title="">
                                    <img src="data/images/banner/banner-2.jpg" alt="" />
                                </a>
                                <a href="#banner-4" title="">
                                    <img src="data/images/banner/banner-3.jpg" alt="" />
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="banner-mask"></div>
             	</div>
                </div>
        	</div>
        </header>
        <div id="content" class="clearfix">
            <div class="main"> 
                <article class="content-contact">
                    <section class="main-content">
                    <div class="breadCrumb">
                        <ul>
                            <li><a href="#" title="">Trang chủ</a></li>
                            <li><span>Liên hệ</span></li>
                        </ul>
                    </div>
                    <div class="contact-page">
    					<div class="contact-info">
                        	<div class="address-info">
                                <h2>Thông tin liên hệ</h2>
                                <p>Địa chỉ: 584 Lạc Long Quân, P.5, Q.11, Tp.Hồ Chí Minh.</br>
                                    (gần Bùng Bình Đầm Sen, gần ngã Âu Cơ với Lạc Long Quân)</p>
                                  <p>  Điện thoại: 0908.70.0809 </p>
                                   <p> Email: <a href="#">dongho24h@gmail.com</a></p>
                            </div>
                            <div class="map">
                            	<h2>Bản đồ đường đi</h2>
                                <img src="images/img-news-04.jpg"/>
                            </div>
                        </div>
                        <div class="contact-form">
                        	<h2>Gửi email liên hệ</h2>
                            <form action="" method="post" name="formChangePW">
                        <fieldset>
							<div class="login-formInfo">
                                	<label>Họ &amp; tên*</label>
                                    <p><input type="text" id="txtKeyword" name="txtKeyword" class="inputbox"></p>
                             </div>
							 <div class="login-formInfo">
                                	<label>Địa chỉ</label>
                                    <p><input type="text" class="inputbox"></p>
                             </div>
                             	 <div class="login-formInfo">
                                	<label>Điện thoại</label>
                                    <p><input type="text" class="inputbox"></p>
                             </div>
                             	 <div class="login-formInfo">
                                	<label>Email*</label>
                                    <p><input type="text" class="inputbox"></p>
                             </div>
							 <div class="login-formInfo">
                                	<label>Nội dung</label>
                                    <p><textarea cols="5" rows="10" id="comment"></textarea></p>
                             </div>
							 <div class="login-formInfo">
                                	<label>Mã bảo vệ*</label>
                                    <p>
                                    <input type="text" class="inputbox-security">
                                    <img src="images/img-security.jpg"/>
                                    </p>
                             </div>
							 <div class="btn">
							 <input class="button" type="submit" value="Gửi đi">
							 <input class="button" type="reset" value="Nhập Lại">
							 </div>
                         </fieldset>
            		</form>
                        </div>
                    </div>  
                    </section>
                </article>
                
            </div>
        </div>
        <aside class="aside-footer">
            <div class="main">
                <nav class="footer-nav">
                    <ul id="footer-menu">
                        <li><a class="" href="#" title="trang chủ">trang chủ</a></li>
                        <li><a href="#" title="giới thiệu chung">giới thiệu chung</a></li>
                        <li><a href="#" title="hướng dẫn mua hàng">hướng dẫn mua hàng</a></li>
                        <li><a href="#" title="bảo hành">bảo hành</a></li>
                        <li><a href="#" title="khuyến mãi">khuyến mãi</a></li>
                        <li><a href="#" title="liên hệ">liên hệ</a></li>
                        <li><a href="#" title="sitemap">sitemap</a></li>
                    </ul>
                </nav>
                <section class="footer-block">
                    <h3>Tìm chúng tôi</h3>
                    <div class="footer-address">
                        <p>584 Lạc Long Quân, P.5, Q.11, Tp.Hồ Chí Minh</p>
                        <p>ĐT: 0908.70.0809 - 0902.80.80.20 <br />
                            Email: <a href="mailto:dongho24h@gmail.com">dongho24h@gmail.com</a> </p>
                        <p><a href="#" class="icon-map">Xem bản đồ</a></p>
                    </div>
                </section>
                <section class="footer-block">
                    <h3>Nhận tin khuyến mãi</h3>
                    <div class="footer-email">
                        <p>Nhập địa chỉ email của bạn để nhận tin khuyến mãi từ chúng tôi</p>
                        <form class="form-footer-email">
                            <input value="" type="text" placeholder="Email" class="email-input" />
                            <input value="GO" type="submit" class="button-email-go" />
                        </form>
                    </div>
                </section>
                <section class="footer-block">
                    <div class="footer-social">
                       <div><img src="images/fb-fanpage-like.png" alt=""></div>
                       <div class="social-network">
                       		<span>Chia sẻ:</span>
                            <a href="#" title="facebook"><img src="images/icon-facebook.png" alt=""></a>
                            <a href="#" title="gPlus"><img src="images/icon-google-plus.png" alt=""></a>
                       </div>
                    </div>
                </section>
            </div>
        </aside>
        <footer class="footer">
            <div class="main">
                <p class="copyright">
                    Copyright &copy; 2014 <a href="#" title="">shopdonghodep.vn</a>. All rights reserved. <span class="deracms">Developed by <a href="#" title="">DeraCMS</a></span>
                </p>
            </div>
        </footer>
    </div>
    
    <span class="footer-to-top">&nbsp;</span>
    
    <!--script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script-->
    <script>
    window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')
    </script>
    <script src="js/ui/minified/jquery-ui.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>
</body>

</html>