<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
<head>

	<!-- Basic Page Needs
  ================================================== -->
	<meta charset="utf-8">
	<title>Maramara</title>
	<meta name="description" content="">

	<!-- Mobile Specific Metas
  ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
  ================================================== -->
	<link rel="stylesheet" href="/{$templatePath}/{$userTemplate}/css/main.css">
	<link rel="stylesheet" href="/{$templatePath}/{$userTemplate}/css/home.css">
	<link href="/{$templatePath}/{$userTemplate}/css/dcverticalmegamenu.css" rel="stylesheet" type="text/css" />
	<link rel="stylesheet" href="/{$templatePath}/{$userTemplate}/css/nivo-slider.css">
   	<link type="text/css" rel="stylesheet" href="/{$templatePath}/{$userTemplate}/css/jquery.mmenu.all.css" />
    <link rel="stylesheet" href="/{$templatePath}/{$userTemplate}/js/dropKick/dropkick.css">
    <link rel="stylesheet" href="/{$templatePath}/{$userTemplate}/css/responsive.css">
	<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script>
		<link rel="stylesheet" type="text/css" href="/{$templatePath}/{$userTemplate}/css/ie8-and-down.css" />
	<![endif]-->

	<!-- Favicons
	================================================== -->
	<link rel="shortcut icon" href="/{$templatePath}/{$userTemplate}/images/favicon.ico">
	<link rel="apple-touch-icon" href="/{$templatePath}/{$userTemplate}/images/apple-touch-icon.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/{$templatePath}/{$userTemplate}/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/{$templatePath}/{$userTemplate}/images/apple-touch-icon-114x114.png">
	
</head>
<body>

	<!--start header-->
	<header>

		<div id="topHeader">
         <a href="#"><img id="banner" src="/{$templatePath}/{$userTemplate}/images/banner/bannertop.jpg" alt=""></a>
			<div class="container">
           	<div class="sixteen columns">
					<ul id="lang">
						<li class="active"><a href="#"><img src="images/icons/vietnamese.jpg" alt="">  VN</a></li>
						<li><a href="#"><img src="images/icons/english.jpg" alt="">  EN</a></li>
					</ul>
					
					<ul id="topNav">
						<li class="btn-sign-in"><a href="#">Đăng nhập & Đăng ký <img src="images/icons/drop-down.png" style="padding-bottom:2px"></a>
                        <div class="sign-in" style="display:none">
                        <b class="arrow"></b>
                        <form class="frmGeneral" action="#" method="post" name="form-signin" id="form-signin">
				<fieldset>
					<p class="form-row">
						<input class="inputbox" type="text" value="" name="username-signin" id="username-signin" autocomplete="off" placeholder="Tên đăng nhập"> 
					</p>
					<p class="form-row">
						<input class="inputbox" type="password" value="" name="password-signin-1" id="password-signin-1" autocomplete="off"  placeholder="Mật khẩu">
					</p>
                     <div class="btn-row">
					<p class="btn-wrap">
						<input type="submit" value="Đăng nhập" title="Đăng nhập" name="btn-signin" class="button">
						</p>
                    <p class="btn-wrap">
						<a href="#" class="btn-forgot-pass">Đăng ký </a>
                        <a href="#" class="btn-forgot-pass">Quên mật khẩu? </a>
                     </p>
                    </div>
                       <p class="form-row">
						<p>Bạn có thể đăng nhập qua</p>
                        <a href="#"><img src="images/icons/fb-login.png" width="230px"></a>
					</p>
				</fieldset>
			</form></div></li>
						<li class="btn-order-check"><a href="#">Tra cứu đơn hàng <img src="images/icons/drop-down.png" style="padding-bottom:2px"></a>
                        <div class="order-check" style="display:none">
                        <b class="arrow"></b>
                        <form class="frmGeneral" action="#" method="post" name="form-signin" id="form-signin">
				<fieldset>
					<p class="form-row">
						<input class="inputbox" type="text" value="" name="username-signin" id="username-signin" autocomplete="off" placeholder="Mã đơn hàng"> 
					</p>
					<p class="form-row">
						<input class="inputbox" type="password" value="" name="password-signin-1" id="password-signin-1" autocomplete="off"  placeholder="Mật khẩu">
					</p>
                     <div class="btn-row">
					<p class="btn-wrap">
						<input type="submit" value="Xem đơn hàng" title="Xem đơn hàng" name="btn-signin" class="button">
					</p>
                    <p class="btn-wrap">
						<a href="#" class="btn-forgot-pass">Hướng dẫn</a>
					</p>
                    </div>
				</fieldset>
			</form></div></li>
						<li><a href="#">Hỗ trợ khách hàng</a></li>
						
					</ul>
				</div><!--end sixteen-->
			</div><!--end container-->
		</div><!--end topHeader-->


		<div id="middleHeader">
			<div class="container">
				<div class="sixteen columns">
                
					<div id="logo">
						<h1><a href="index.html">logo</a></h1>
					</div><!--end logo-->
				<div class="feature">
					<ul class="top-feature">
						<li><img class="icon" src="images/icons/top-icon-1.png" alt=""><a href="#"><strong>Giao miễn phí</strong> trên 400,000 VND</a></li>
						<li><img class="icon" src="images/icons/top-icon-2.png" alt=""><a href="#"><strong>30 ngày</strong> miễn phí trả hàng</a></li>
                        <li><img class="icon" src="images/icons/top-icon-3.png" alt=""><a href="#"><strong>Thành viên</strong> dễ dàng mua hàng</a></li>
                        <li class="last"><img class="icon" src="images/icons/top-icon-4.png" alt=""><a href="#"><strong>Hotline:</strong> 08. 3456 8969</a></li>
					</ul>
					<form action="#" method="post" accept-charset="utf-8">
						<label>
                        <div class="select-style">
							<select name="search_category" class="default" tabindex="1">
								<option value="">Toàn bộ danh mục</option>
							  	<option value="Jean">Jean</option>
							  	<option value="bored">Nón</option>
							  	<option value="surprised">Lụa</option>
							</select>
                            </div>
                            <input type="text" name="search" placeholder="Search in Product" value="">
						</label>
                       <div class="submit">
							
                            <input type="submit" name="submit" value="Tìm kiếm" >
						</div>
					</form><!--end form-->
                   <div class="cart">
                   		<a class="cart_dropdown" href="javascript:void(0);"><img src="images/cart-icon.png" alt=""><b>4</b></a>
                        <p class="cart-left"><span style="font-weight:bold">Giỏ hàng</span>
                        <br>
                        1,800,000 VND</p>
						<div class="cart_content">
							<b class="cart_content_arrow"></b>
							<ul>
								<li class="clearfix">
									<div class="cart_product_name">
										<img src="images/products/product-1.jpg" alt="product image">
										<div>
											<strong><a href="#">Áo in thun kẻ sọc ngang</a></strong><br>
											<table style="width:100%; line-height:16px; font-size:11px">
 												 <tr>
    												<td>Kích cỡ:</td>
    												<td>M</td>
  												</tr>
  												<tr>
    												<td>Số lượng:</td>
    												<td>2</td>
  												</tr>
                                                <tr>
    												<td>Giá:</td>
    												<td>1,000,000 VND</td>
  												</tr>
											</table>		
										</div>
									</div>
									<div class="cart_product_price">
										<span>
											<a class="remove_item" href="#"><img src="images/icons/cart-remove.png" alt="Remove"></a>
										</span>
									</div>
									<div class="clear"></div>
								</li>
								<li class="clearfix">
									<div class="cart_product_name">
										<img src="images/products/product-2.jpg" alt="product image">
										<div>
											<strong><a href="#">Áo in thun kẻ sọc ngang</a></strong><br>
											<table style="width:100%; line-height:16px; font-size:11px">
 												 <tr>
    												<td>Kích cỡ:</td>
    												<td>M</td>
  												</tr>
  												<tr>
    												<td>Số lượng:</td>
    												<td>2</td>
  												</tr>
                                                <tr>
    												<td>Giá:</td>
    												<td>1,000,000 VND</td>
  												</tr>
											</table>	
										</div>
									</div>
									<div class="cart_product_price">
										<span>
											<a class="remove_item" href="#"><img src="images/icons/cart-remove.png" alt="Remove"></a>
										</span>
									</div>
								</li>
							</ul><!--end ul-->

							<div class="dropdown_cart_info clearfix">
                            <div class="cart_total_price">
									<div>
                                    <table style="width:100%; font-size:15px;">
 												 <tr>
    												<td>Tổng:</td>
    												<td style="text-align:right; color:#5d1e14 !important; font-weight:bold; font-size:14px;">1,800,000 VND</td>
  												</tr>
  												</table>
									</div>
								</div>
								<div class="cart_buttons">
									<a class="left_btn" href="#">Xem giỏ hàng</a>
									<a class="right_btn" href="#">Thanh toán</a>
								</div><!--end cart buttons-->

								<!--end cart buttons-->
							</div><!--end dropdown_cart_info-->

						</div><!--end cart_content-->
					</div>
                    <div class="search-abc">
	<b>Tìm kiếm theo:</b>&nbsp;
	
    
    <a href="A">A</a>
    
    <a href="B">B</a>
    
    <a href="C">C</a>
    
    <a href="D">D</a>
    
    <a href="E">E</a>
    
    <a href="F">F</a>
    
    <a href="G">G</a>
    
    <a href="H">H</a>
    
    <a href="J">J</a>
    
    <a href="K">K</a>
    
    <a href="L">L</a>
    
    <a href="M">M</a>
    
    <a href="N">N</a>
    
    <a href="O">O</a>
    
    <a href="P">P</a>
    
    <a href="R">R</a>
    
    <a href="S">S</a>
    
    <a href="T">T</a>
    
    <a href="V">V</a>
    
    <a href="W">W</a>
    
    <a href="Y">Y</a>
    
    <a href="0-9">0-9</a>
	</div>
</div>
				</div><!--end sixteen-->
			<div class="bottom"></div>
            </div>
            <!--end container-->
		</div><!--end middleHeader-->

	</header>
	<!--end header-->



	<div class="container">
		<div class="sixteen columns">
			<div class="leftcol">
            <div class="menu">
            <h3 class="left-menu"><a href="#" title="">Danh mục sản phẩm</a></h3>
            <ul id="mega-1" class="mega-menu hide mega-menu-2">
<li><a href="#">Thời trang nữ <span>(250)</span></a>
<ul>
<b class="left-arrow"></b>
 <img src="images/products/bg-menu-nu.jpg" class="bg"/>
<li><a href="#">Áo</a>
<ul><li><a href="#">Áo Blouse</a></li>
<li><a href="#">Áo Thun</a></li>
<li><a href="#">Áo Hai Dây và Áo Ba Lỗ</a></li>
<li><a href="#">Áo Sơ Mi</a></li>
<li><a href="#">Áo Thun - Polo Tay Dài</a></li>
<li><a href="#">Áo Polo</a></li>
</ul></li>
<li><a href="#">Đầm</a>
<ul><li><a href="#">Đầm Dạo Phố</a></li>
<li><a href="#">Đầm Công Sở</a></li>
<li><a href="#">Đầm Dự Tiệc</a></li>
<li><a href="#">Đầm Maxi</a></li>
</ul></li>
<li><a href="#">Quần</a>
<ul><li><a href="#">Quần Jeans</a></li>
<li><a href="#">Quần Shorts</a></li>
<li><a href="#">Quần Tây Công Sở</a></li>
<li><a href="#">Quần Lửng</a></li>
<li><a href="#">Leggings</a></li>
<li><a href="#">Quần Kaki</a></li>
</ul></li>
<li><a href="#">Áo khoác</a>
<ul><li><a href="#">Áo Vest và Blazer</a></li>
<li><a href="#">Áo Khoác Mỏng</a></li>
<li><a href="#">Áo Khoác Mùa Đông</a></li>
<li><a href="#">Áo Khoác Có Mũ</a></li>
</ul></li>
<li><a href="#">Áo Len & Cardigan</a>
<ul><li><a href="#">Áo Len</a></li>
<li><a href="#">Áo Cardigan</a></li>
</ul></li>
<li><a href="#">Chân váy</a>
<ul><li><a href="#">Chân váy ngắn</a></li>
<li><a href="#">Chân váy dài</a></li>
<li><a href="#">Chân váy công sở</a></li>
</ul></li>
<li><a href="#">Đồ mặc nhà</a></li>
<li><a href="#">Đồ bơi</a></li>
<li><a href="#">Đồ ngủ</a></li>
<li><a href="#">Jumpsuits</a></li>
<li><a href="#">Tất</a></li>

</ul></li>
<li><a href="#">Thời trang nam <span>(250)</span></a>
<ul>
<b class="left-arrow"></b>
 <img src="images/products/bg-menu-nu.jpg" class="bg"/>
<li><a href="#">Áo</a>
<ul><li><a href="#">Áo thun</a></li>
<li><a href="#">Áo Sơ Mi</a></li>
<li><a href="#">Áo Blouse</a></li>
<li><a href="#">Áo thời trang</a></li>
</ul></li>
<li><a href="#">Quần</a>
<ul><li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
</ul></li>
<li><a href="#">Phụ kiện</a>
<ul><li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
</ul></li>
</ul></li>
<li><a href="#">Thời trang trẻ <span>(125)</span></a>
<ul>
<b class="left-arrow"></b>
<img src="images/products/bg-menu-nam.jpg" class="bg"/>
<li><a href="#">Áo</a>
<ul><li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
</ul></li>
<li><a href="#">Quần</a>
<ul><li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
</ul></li>
<li><a href="#">Phụ kiện</a>
<ul><li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
</ul></li>
</ul></li>
<li><a href="#">Thời trang cá tính <span>(175)</span></a>
<ul>
<b class="left-arrow"></b>
<img src="images/products/bg-menu-tuixach.jpg" class="bg"/>
<li><a href="#">Áo</a>
<ul><li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li></ul></li>
<li><a href="#">Quần</a>
<ul><li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li></ul></li>
<li><a href="#">Phụ kiện</a>
<ul><li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li></ul></li>
<li><a href="#">Áo 4</a>
<ul><li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li></ul></li>
<li><a href="#">Áo 5</a>
<ul><li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li></ul></li>
<li><a href="#">Áo 6</a>
<ul><li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li></ul></li>
<li><a href="#">Áo 7</a>
<ul><li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li></ul></li></ul></li>

<li><a href="#">Thời trang theo mùa <span>(250)</span></a>
<li><a href="#">Thời trang trẻ em <span>(50)</span></a>
<li><a href="#">Phụ kiện <span>(50)</span></a>
<li><a href="#">Phụ kiện thời trang <span>(250)</span></a>
<ul>
<b class="left-arrow"></b>
<img src="images/products/bg-menu-nam.jpg" class="bg"/>
<li><a href="#">Áo</a>
<ul><li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li></ul></li>
<li><a href="#">Quần</a>
<ul><li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li></ul></li>
<li><a href="#">Phụ kiện</a>
<ul><li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li></ul></li>
<li><a href="#">Áo 4</a>
<ul><li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li></ul></li>
<li><a href="#">Áo 5</a>
<ul><li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li></ul></li>
<li><a href="#">Áo 6</a>
<ul><li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li></ul></li>
<li><a href="#">Áo 7</a>
<ul><li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li>
<li><a href="#">Áo thời trang</a></li></ul></li></ul></li>


</ul>
			</div>
<div class="menu-left">
<div class="category ">
<h3 class="category-title"><a href="#" title="Sản phẩm">Thời trang nữ</a></h3>
                    <div class="category-inner hidden-mobile">
                        <ul class="cat-lev-1">
                            <li class="active">
                                <a href="#" title="">
                                    <span class="nav-item-ico"></span>Áo</a>
                                <ul class="cat-lev-2">
                                     <li><a href="#" title="">Áo Levi 1</a></li>
                                     <li><a href="#" title="">Áo Levi 2</a></li>
                                      <li><a href="#" title="">Áo Levi 3</a></li>
                                 </ul>
                            </li>
                            <li><a href="#" title="">Đầm</a>
                                <ul class="cat-lev-2">
                                    <li><a href="#" title="">Đầm dạ hội</a>
                                    </li>
                                    <li><a href="#" title="">Đầm dạo phố</a>
                                    </li>
                                 </ul>
                            </li>
                            <li><a href="#" title="">Quần</a>
                                <ul class="cat-lev-2">
                                    <li><a href="#" title="">Quần Jean</a>
                                    </li>
                                    <li><a href="#" title="">Quần Kaki</a>
                                    </li>
                                </ul>
                            </li>
                             <li><a href="#" title="">Quần</a>
                                <ul class="cat-lev-2">
                                    <li><a href="#" title="">Quần Jean</a>
                                    </li>
                                    <li><a href="#" title="">Quần Kaki</a>
                                    </li>
                                </ul>
                            </li>
                         </ul>
                    </div>
                </div>
</div>
<div class="searchbox">
<h3>Tìm kiếm theo</h3>
<div class="searchwrap">
<div class="searchprice">
<h1>Theo giá</h1>
<form class="fmr" id="frmTimTienNghi" name="frmTimTienNghi" method="post" action="">
				<ul class="lst">
										<li class="display"><input type="checkbox" name="chkAme" class="chkAme" value="15"><span class="lstName">Dưới 300.000</span></li>
										<li class="display"><input type="checkbox" name="chkAme" class="chkAme" value="9"><span class="lstName">300.000 - 500.000</span></li>
										<li class="display"><input type="checkbox" name="chkAme" class="chkAme" value="12"><span class="lstName">500.000 - 1.000.000</span></li>
										<li class="display"><input type="checkbox" name="chkAme" class="chkAme" value="6"><span class="lstName">1.000.000 - 1.500.000</span></li>
                </ul>
		   </form>
</div>
<div class="searchsize">
<h1>Theo size</h1>
<form class="fmr" id="frmTimTienNghi" name="frmTimTienNghi" method="post" action="">
				<ul class="lst">
										<li class="display"><input type="checkbox" name="chkAme" class="chkAme" value="15"><span class="lstName">L</span></li>
										<li class="display"><input type="checkbox" name="chkAme" class="chkAme" value="9"><span class="lstName">M</span></li>
										<li class="display"><input type="checkbox" name="chkAme" class="chkAme" value="12"><span class="lstName">S</span></li>
										<li class="display"><input type="checkbox" name="chkAme" class="chkAme" value="6"><span class="lstName">XL</span></li>
                </ul>
		   </form>
</div>
</div>
</div>
<div class="banner-left-div">
          <h1>Có thể bạn quan tâm</h1>
          <div class="banner-left-col">
          <a href="#"><img src="images/banner/bnl-1.jpg" alt="product"></a>
           <a href="#"><img src="images/banner/bnl-2.jpg" alt="product"></a>
            <a href="#"><img src="images/banner/bnl-3.jpg" alt="product"></a>
          </div> 
          </div>
<div class="tag-div">
          <h1>TAGS</h1>
          <div class="tags">
          <a href="#" class="tag-link-60" style="font-size: 8pt;">Đầm</a>
          <a href="#" class="tag-link-60" style="font-size: 8pt;">Váy</a>
          <a href="#" class="tag-link-60" style="font-size: 8pt;">Áo</a>
          <a href="#" class="tag-link-60" style="font-size: 8pt;">Áo cặp</a>
          <a href="#" class="tag-link-60" style="font-size: 8pt;">Quần Jean</a>
          <a href="#" class="tag-link-60" style="font-size: 8pt;">Áo khoác</a>
          <a href="#" class="tag-link-60" style="font-size: 8pt;">Khăn choàng</a>
          <a href="#" class="tag-link-60" style="font-size: 8pt;">Phụ kiện</a>
          <a href="#" class="tag-link-60" style="font-size: 8pt;">Balo</a>
          </div> 
          </div> <!--End Tags-->
<div class="banner-left">
           <a href="#"><img src="images/banner/bnl-4.jpg" alt="" /></a>
           <a href="#"><img src="images/banner/bnl-5.jpg" alt="" /></a>
           <a href="#"><img src="images/banner/bnl-6.jpg" alt="" /></a>
          </div>
</div> <!--End Left Columns-->
            <div class="rightcol">
		<div class="breadcrumd">
                    <ul class="breadcrumd">
                        <li><a class="" href="#" title="Trang chủ">Trang chủ</a>
                        </li>
                        <li><a class="" href="#" title="Sản phẩm">Thời trang nữ</a>
                        </li>
                        <li><a class="current" href="#" title="Sony">Đầm</a>
                        </li>
                    </ul>
                </div>
        <div class="new-products">
        <div class="top-header">
        <p class="info"><span>Đầm</span> (65 sản phẩm tìm thấy)</p>
        <div class="sort">
        <p>Sắp xếp theo</p>
        	<select name="sort" form="sort">
  <option value="volvo">Giá thấp đến cao</option>
  <option value="saab">Giá cao xuống thấp</option>
  <option value="opel">Sản phẩm mới nhất</option>
  <option value="audi">Sản phẩm hot nhất</option>
</select>
            </div>
        </div>
        <ul class="new-products-list">
						<li>
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-7.jpg" alt="product">
								</a>
                                <div class="product-slider">
                                		<img src="images/products/product-6.jpg"  alt="" />
                						<img src="images/products/product-7.jpg" alt="" />
                						<img src="images/products/product-8.jpg" alt="" />
            					</div>
                                <div id="htmlcaption" class="nivo-html-caption"></div>
							</div>
							<p class="product-title"><a href="#">Áo polo họa tiết Caro</a></p>
                            <p class="product-price">
                            <span class="current">1,000,000 VND</span>
                            </p>
						</li>
						<li>
							<div class="img">
								<a href="#">
									<img src="images/products/product-2.jpg" alt="product">
								</a>
                                <div class="product-slider">
                                		<img src="images/products/product-6.jpg" alt="" data-transition="fade" />
                						<img src="images/products/product-7.jpg" alt="" data-transition="fade"/>
                						<img src="images/products/product-8.jpg" alt="" data-transition="fade"/>
            					</div>
							</div>
							<p class="product-title"><a href="#">Áo cá sấu</a></p>
                            <p class="product-price">
                            <span class="current">2,000,000 VND</span>
                            </p>
						</li>
						<li>
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-3.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
                        <li>
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-4.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
						<li class="last">
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-5.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
						<li>
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-6.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
						<li>
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-8.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
                        <li>
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-7.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
                        <li>
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-7.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
                        <li class="last">
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-4.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
                        <li>
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-5.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
                        <li>
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-6.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
                        <li>
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-7.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
                        <li>
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-8.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
                        <li class="last">
							<div class="img">
								<a href="#">
									<img src="images/products/product-4.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
                        <li>
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-7.jpg" alt="product">
								</a>
                                <div class="product-slider">
                                		<img src="images/products/product-6.jpg"  alt="" />
                						<img src="images/products/product-7.jpg" alt="" />
                						<img src="images/products/product-8.jpg" alt="" />
            					</div>
                                <div id="htmlcaption" class="nivo-html-caption"></div>
							</div>
							<p class="product-title"><a href="#">Áo polo họa tiết Caro</a></p>
                            <p class="product-price">
                            <span class="current">1,000,000 VND</span>
                            </p>
						</li>
						<li>
							<div class="img">
								<a href="#">
									<img src="images/products/product-2.jpg" alt="product">
								</a>
                                <div class="product-slider">
                                		<img src="images/products/product-6.jpg" alt="" data-transition="fade" />
                						<img src="images/products/product-7.jpg" alt="" data-transition="fade"/>
                						<img src="images/products/product-8.jpg" alt="" data-transition="fade"/>
            					</div>
							</div>
							<p class="product-title"><a href="#">Áo cá sấu</a></p>
                            <p class="product-price">
                            <span class="current">2,000,000 VND</span>
                            </p>
						</li>
						<li>
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-3.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
                        <li>
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-4.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
						<li class="last">
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-5.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
						<li>
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-6.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
						<li>
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-8.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
                        <li>
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-7.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
                        <li>
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-7.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
                        <li class="last">
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-4.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
                        <li>
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-5.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
                        <li>
							<div class="img">
								 
								<a href="#">
									<img src="images/products/product-6.jpg" alt="product">
								</a>
							</div>
							<p class="product-title"><a href="#">Áo đầm xếp ly</a></p>
                            <p class="product-price">
                            <span class="current">1,500,000 VND</span>
                            </p>
						</li>
					</ul>
        </div>
        <div class="paging clearfix">
                                <div class="paging-inner">
                                    <ul>
                                        <li><a class="paging_prev" href="#">Trước</a>
                                        </li>
                                        <li><a class="current" href="#">1</a>
                                        </li>
                                        <li><a href="#">2</a>
                                        </li>
                                        <li><a href="#">3</a>
                                        </li>
                                        <li><a href="#">4</a>
                                        </li>
                                        <li><a href="#">5</a>
                                        </li>
                                        <li><a class="paging_next" href="#">Sau</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
		</div> <!-- right-->
		</div>
	</div><!-- container -->






	<!-- start the footer area-->
	<footer>
    <div class="footer-container">
		<div class="container">
			<div class="four columns">
				<div id="info">
					<h3>Về chúng tôi</h3>
					<ul>
						<li><a href="#">Giới thiệu về maramara</a></li>
						<li><a href="#">Tin tức</a></li>
						<li><a href="#">Hợp tác</a></li>
						<li><a href="#">Liên hệ</a></li>
					</ul>
				</div>
			</div><!--end three-->

			<div class="four columns">
				<div id="customer_serices">
					<h3>Quy định công ty</h3>
					<ul>
						<li><a href="#">Quy định sử dụng</a></li>
						<li><a href="#">Quy định trả hàng</a></li>
						<li><a href="#">Điều khoản và Điều kiện</a></li>
						<li><a href="#">Chính sách bảo mật</a></li>
					</ul>
				</div>
			</div><!--end three-->

			<div class="four columns">
				<div id="extra">
					<h3>Hỗ trợ khách hàng</h3>
					<ul>
						<li><a href="#">Hướng dẫn đặt hàng</a></li>
						<li><a href="#">Gift Vouchers</a></li>
						<li><a href="#">Phương thức thanh toán</a></li>
						<li><a href="#">Phương thức vận chuyển</a></li>
					</ul>
				</div>
			</div><!--end three-->

			<div class="four columns">
				<div id="my_account">
					<h3>Nhận email khuyến mãi</h3>
                    <p>Nhập địa chỉ email của bạn để nhận tin khuyến mãi từ chúng tôi</p>
					<form id="frmEmail" name="frmEmail" method="post" action="">
                            	<span id="emailBlock">
                                	<input type="text" id="txtEmail" name="txtEmail" onfocus="if(this.value=='Địa chỉ mail')this.value='';" onblur="if(this.value=='')this.value='Địa chỉ mail';" value="Địa chỉ mail" />
                                    <input type="submit" id="btnEmail" name="btnEmail" value="" />
                                </span>
                            </form>
				</div>
			</div><!--end three-->

			<div class="four columns">
            <div class="socials-col">
            <h3>Kết nối với chúng tôi</h3>
            	<img src="images/icons/social.png" alt="">
				<ul class="socials">
					<li><a class="twitter" href="#">twitter</a></li>
					<li><a class="facebook" href="#">face</a></li>
					<li><a class="googlep" href="#">google+</a></li>
					<li><a class="skype" href="#">skype</a></li>
				</ul>
			</div>
			</div><!--end four-->

		</div><!--end container-->
		</div>

		<div class="paymentbrand">
			<div class="container">
				<img src="images/icons/payment-brand.png" alt="">
				</div>
			</div>
		</div><!--end tweets-->


		<div class="container">
			<div class="sixteen">
				<p class="copyright">
					<strong>Công ty TNHH YDT</strong></br>
109/ 2 Điện Biên Phú - Phường 17 - Quận Bình Thạnh - Tp. Hồ Chí Minh</br>
ĐT: (08) 66825659 - (08) 66825659 - Email: ydt@ydt.com.vn</br>
Giấy phép ICP Số 1234/GP-STTTT Ngày cấp: 15/9/2014
				</p>
				<p class="information">
Copyright © 2014 <img src="images/icons/footer-logo.png" alt=""> . All rights reserved.  By DeraCMS</br>
				<img src="images/icons/bo-cong-thuong.png" alt="">
				</p>
			</div><!--end sixteen-->
		</div><!--end container-->

	</footer>
	<!--end the footer area -->

<div id="xsl_tbox">
<a href="#">
<img src="images/livechat.png"></a>
</div>
<div class="footer-to-top" style="display: block;"><a href="#" title="top">top</a></div>



	<!-- JS
	================================================== -->
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
   <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
   <!-- <script src="js/jquery-2.1.1.min.js"></script>-->
    <script src="js/dropKick/jquery.dropkick-1.0.0.js"></script>
	<script src="js/jquery.cycle2.min.js"></script>
	<script src="js/jquery.cycle2.tile.min.js"></script>
    <script src="js/jquery.cycle2.carousel.js"></script>
	<script src="js/jquery.cookie.js"></script>
	<script src="js/jquery.nivo.slider.js"></script>
    <script type='text/javascript' src='js/jquery.hoverIntent.minified.js'></script>
	<script type='text/javascript' src='js/jquery.dcverticalmegamenu.1.3.js'></script>
    <script type='text/javascript' src='js/jquery.flexslider.js'></script>
    <script type='text/javascript' src='js/jquery.flexslider-min.js'></script>
     <script type='text/javascript' src='js/detail.js'></script>
	<script type="text/javascript" src="js/jquery.mmenu.min.all.js"></script>
    <script type="text/javascript">
			$(function() {
				$('nav#menu').mmenu();
			});
		</script>
	<script src="js/main.js"></script>
<!-- End Document
================================================== -->
</body>
</html>