{include file='headerindex.tpl.html' title='site-header'}

<div class="container">
		<div class="sixteen columns">
			<div class="leftcol">
            {include file='left-category.tpl.html' title='left-category'}
			
</div> <!--End Left Columns-->
            <div class="rightcol">
            <nav id="menu">
				<ul>
                {foreach from=$productCategoryItems.0 item=itemRoot}
                <li><a href="{$itemRoot.url}">{$itemRoot.name} {if $itemRoot.num}<span>({$itemRoot.num}){/if}</span>
                </a></li>
                {/foreach}
				</ul>
			</nav>
            <div class="header">
				<a href="#menu">{$messages.categories}</a>
			</div>
			{include file='navigation.tpl.html' title='footer'}
        </div> <!-- right-->
		</div>
	</div>

<div class="container">
		<div class="sixteen columns">
        <div class="top-list-news">
        <div class="top-list-news-title">
        <h3>Bài viết quan tâm</h3>
        </div>
        <ul class="top-news-list">
        {foreach key=no from=$listhightNews item=item}
         {assign var=avatar value=$item->getProperty('avatar')}
        <li>
        	<div class="top-news-detail">
           <a href="{$item->getUrl($lang)}"><img src="/upload/{$storeId}/articles/l_{$avatar}" alt="{$item->getTitle($lang)}" class="bg" width="220" height="270"></a>
            <span class="date">{$item->getDateCreated()|date_format:'h:i A | d/m'}</span>
            <a href="{$item->getUrl($lang)}"><p>{$item->getTitle($lang)}</p></a>
        	</div>
        </li>
        {/foreach}
        </ul>
        </div>
			</div>
	</div>

	<!-- container -->
<div class="container">
		<div class="sixteen columns">
			<div class="leftcol">
            <div class="news-left">
            <h1 class="title">Xem nhiều nhất</h1>
            	<div class="news-left-list">
            		<ul class="news-list">
                    {foreach key=no from=$listHotNew item=item}
                    <li>
                    	<p>
                     	<a href="{$item->getUrl($lang)}">{$item->getTitle($lang)}</a>
                    	</p>
                    	<span>{$item->getDateCreated()|date_format:'h:i A | d/m'}</span>
                    </li>
                    {/foreach}
                    </ul>
            	</div>
            </div>
            {include file='banner-left-div.tpl.html' title='banner-left-div'}
</div> <!--End Left Columns-->
            <div class="rightcol">
		<div class="right-news-list">
         {foreach key=no from=$listItems item=item}
         {assign var=avatar value=$item->getProperty('avatar')}
       <div class="right-news">
            	<div class="thumb">
    							<a href="{$item->getUrl($lang)}" title="{$item->getTitle($lang)}"><img style="max-width: 100%;" src="/upload/{$storeId}/articles/l_{$avatar}" alt="{$item->getTitle($lang)}"></a>
                 </div>
                 <div class="desc">
                 	<a href="{$item->getUrl($lang)}"><h3>{$item->getTitle($lang)}</h3></a>
                    <span class="date">{$item->getDateCreated()|date_format:'h:i A | d/m'}</span>
                    <p>{$item->getSapo()}</p>
                    <a class="detail" href="{$item->getUrl($lang)}">Chi tiết</a>
                 </div>
            </div>
        {/foreach}
        	
        </div>
        {include file='pager.tpl.html' title='pager'}
		</div> <!-- right-->
		</div>
	</div>

{include file='footer.tpl.html' title='footer'}



	