{include file='header.tpl.html' title='site-header'}

<div id="content" class="clearfix">
            <div class="main">
			<!-- left menu -->
                {include file='left.tpl.html' title='site-header'}
			<!-- end left menu-->
                
			<article class="content">
                    <section class="main-content">
						 {include file='navigation.tpl.html' title='site-header'}
						  {include file='search.tpl.html' title='site-header'}
						<div class="products-list-page">
									<strong style="color:red;">Đơn hàng của bạn không tồn tại. Vui lòng thử lại.</strong>

							 </div>	
							
						
					</section>
			</article>
        </div>
</div>


{include file='footer.tpl.html' title='site-header'}