<div class="tag-div">
          <h1>TAGS</h1>
          <div class="tags">
          <a href="#" class="tag-link-60" style="font-size: 8pt;">Đầm</a>
          <a href="#" class="tag-link-60" style="font-size: 8pt;">Váy</a>
          <a href="#" class="tag-link-60" style="font-size: 8pt;">Áo</a>
          <a href="#" class="tag-link-60" style="font-size: 8pt;">Áo cặp</a>
          <a href="#" class="tag-link-60" style="font-size: 8pt;">Quần Jean</a>
          <a href="#" class="tag-link-60" style="font-size: 8pt;">Áo khoác</a>
          <a href="#" class="tag-link-60" style="font-size: 8pt;">Khăn choàng</a>
          <a href="#" class="tag-link-60" style="font-size: 8pt;">Phụ kiện</a>
          <a href="#" class="tag-link-60" style="font-size: 8pt;">Balo</a>
          </div> 
          </div>