{if $authUser}
<div id="lev">
<div class="levInner">
<ul>
<li{if $op eq 'dashboard'} class="current"{/if}><a href="/{$aScript}?op=dashboard" title="{$locale->msg('dash_board')}">{$locale->msg('dash_board')}</a>
{if $op eq 'dashboard'}
<ul>
<li{if $act eq 'online'} class="current"{/if}><a href="/{$aScript}?op=dashboard&act=online" title="{$locale->msg('online_users')}">{$locale->msg('online_users')}</a></li>
</ul>
{/if}
</li>
<li{if $op eq 'manage'} class="current"{/if}><a href="/{$aScript}?op=manage" title="{$locale->msg('manage_website')}">{$locale->msg('manage_website')}</a>
{if $op eq 'manage'}
<ul>
<!--
<li{if $act eq 'order'} class="current"{/if}><a href="/{$aScript}?op=manage&act=order" title="{$locale->msg('manage_order')}">{$locale->msg('manage_order')}</a>
{if $act eq 'order'}
<ul>
<li{if $fiter_status eq "all"} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=order&mod=list" title="{$locale->msg('list_item')}">{$locale->msg('list_item')}</a></li>
<li{if $fiter_status eq '3'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=order&mod=list&fiter_status=3">{$amessages.status_payment.3|strip_tags}</a></li>
<li{if $fiter_status eq '4'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=order&mod=list&fiter_status=4">{$amessages.status_payment.4|strip_tags}</a></li>
<li{if $fiter_status eq '5'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=order&mod=list&fiter_status=5">{$amessages.status_payment.5|strip_tags}</a></li>
<li{if $fiter_status eq '6'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=order&mod=list&fiter_status=6">{$amessages.status_payment.6|strip_tags}</a></li>
<li{if $fiter_status eq '7'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=order&mod=list&fiter_status=7">{$amessages.status_payment.7|strip_tags}</a></li>
<li{if $fiter_status eq '1'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=order&mod=list&fiter_status=1">{$amessages.status_payment.1|strip_tags}</a></li>
</ul>
{/if}
</li>
<li{if $act eq 'customer'} class="current"{/if}><a href="/{$aScript}?op=manage&act=customer" title="{$locale->msg('manage_customer')}">{$locale->msg('manage_customer')}</a>
{if $act eq 'customer'}
<ul>
<li{if $mod eq 'add'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=customer&mod=add" title="{$locale->msg('add_new')}">{$locale->msg('add_new')}</a></li>
<li{if $mod eq 'list'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=customer&mod=list" title="{$locale->msg('list_item')}">{$locale->msg('list_item')}</a></li>
</ul>
{/if}
</li>-->
<li{if $act eq 'product'} class="current"{/if}><a href="/{$aScript}?op=manage&act=product" title="{$locale->msg('manage_product')}">{$locale->msg('manage_product')}</a>
{if $act eq 'product'}
<ul>
<li{if $mod eq 'add'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=product&mod=add" title="{$locale->msg('add_new')}">{$locale->msg('add_new')}</a></li>
<li{if $mod eq 'list'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=product&mod=list" title="{$locale->msg('list_item')}">{$locale->msg('list_item')}</a></li>
<li{if $mod eq 'addcategory'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=product&mod=addcategory{if $pId}&pId={$pId}{/if}" title="{$locale->msg('add_product_category')}">{$locale->msg('add_product_category')}</a></li>
<li{if $mod eq 'listcategory'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=product&mod=listcategory" title="{$locale->msg('list_product_category')}">{$locale->msg('list_category')}</a></li>
<li{if $mod eq 'size'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=product&mod=size" title="Quản lý size">Quản lý size</a></li>
</ul>
{/if}
</li>
<li{if $act eq 'project'} class="current"{/if}><a href="/{$aScript}?op=manage&act=project" title="{$locale->msg('manage_project')}">{$locale->msg('manage_project')}</a>
{if $act eq 'project'}
<ul>
<li{if $mod eq 'add'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=project&mod=add" title="{$locale->msg('add_new')}">{$locale->msg('add_new')}</a></li>
<li{if $mod eq 'list'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=project&mod=list" title="{$locale->msg('list_item')}">{$locale->msg('list_item')}</a></li>
</ul>
{/if}
</li>
<li{if $act eq 'article'} class="current"{/if}><a href="/{$aScript}?op=manage&act=article" title="{$locale->msg('manage_article')}">{$locale->msg('manage_article')}</a>
{if $act eq 'article'}
<ul>
<li{if $mod eq 'add'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=article&mod=add" title="{$locale->msg('add_new')}">{$locale->msg('add_new')}</a></li>
<li{if $mod eq 'list'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=article&mod=list" title="{$locale->msg('list_item')}">{$locale->msg('list_item')}</a></li>
<li{if $mod eq 'addcategory'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=article&mod=addcategory" title="{$locale->msg('add_article_category')}">{$locale->msg('add_article_category')}</a></li>
<li{if $mod eq 'listcategory'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=article&mod=listcategory" title="{$locale->msg('list_article_category')}">{$locale->msg('list_article_category')}</a></li>
</ul>
{/if}
</li>
<li{if $act eq 'static'} class="current"{/if}><a href="/{$aScript}?op=manage&act=static" title="{$locale->msg('manage_static')}">{$locale->msg('manage_static')}</a>
{if $act eq 'static'}
<ul>
<li{if $mod eq 'add'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=static&mod=add" title="{$locale->msg('add_new')}">{$locale->msg('add_new')}</a></li>
<li{if $mod eq 'list'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=static&mod=list" title="{$locale->msg('list_item')}">{$locale->msg('list_item')}</a></li>
</ul>
{/if}
</li>
<li{if $act eq 'menu'} class="current"{/if}><a href="/{$aScript}?op=manage&act=menu" title="{$locale->msg('manage_menu')}">{$locale->msg('manage_menu')}</a>
{if $act eq 'menu'}
<ul>
<li{if $mod eq 'add'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=menu&mod=add" title="{$locale->msg('add_new')}">{$locale->msg('add_new')}</a></li>
<li{if $mod eq 'list'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=menu&mod=list" title="{$locale->msg('list_item')}">{$locale->msg('list_item')}</a></li>
<li{if $mod eq 'listcategory'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=menu&mod=listcategory" title="{$locale->msg('list_menu_category')}">{$locale->msg('list_menu_category')}</a></li>
</ul>
{/if}
</li>
<li{if $act eq 'banner'} class="current"{/if}><a href="/{$aScript}?op=manage&act=ads" title="{$locale->msg('manage_banner')}">{$locale->msg('manage_banner')}</a>
{if $act eq 'ads'}
<ul>
<li{if $mod eq 'add'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=ads&mod=add" title="{$locale->msg('add_new')}">{$locale->msg('add_new')}</a></li>
<li{if $mod eq 'list'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=ads&mod=list" title="{$locale->msg('list_item')}">{$locale->msg('list_item')}</a></li>
<li{if $mod eq 'listcategory'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=ads&mod=listcategory" title="{$locale->msg('list_banner_category')}">{$locale->msg('list_banner_category')}</a></li>
</ul>
{/if}
</li>
<!--<li><a href="/{$aScript}?op=manage&act=gallery" title="{$locale->msg('manage_gallery')}">{$locale->msg('manage_gallery')}</a></li>-->
<li{if $act eq 'support'} class="current"{/if}><a href="/{$aScript}?op=manage&act=support" title="{$locale->msg('manage_support')}">{$locale->msg('manage_support')}</a>
{if $act eq 'support'}
<ul>
<li{if $mod eq 'add'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=support&mod=add" title="{$locale->msg('add_support')}">{$locale->msg('add_support')}</a></li>
<li{if $mod eq 'list'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=support&mod=list" title="{$locale->msg('list_item')}">{$locale->msg('list_item')}</a></li>
</ul>
{/if}
</li>
<li{if $act eq 'comment'} class="current"{/if}><a href="/{$aScript}?op=manage&act=comment" title="{$locale->msg('manage_comment')}">{$locale->msg('manage_comment')}</a>
</li>
<!-- mangepoll-->
<!--<li{if $act eq 'poll'} class="current"{/if}><a href="/{$aScript}?op=manage&act=poll" title="{$locale->msg('manage_poll')}">{$locale->msg('manage_poll')}</a>
{if $act eq 'poll'}
<ul>
<li{if $mod eq 'addanswer'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=poll&mod=addanswer" title="{$locale->msg('add_answer')}">{$locale->msg('add_answer')}</a></li>
<li{if $mod eq 'list'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=poll&mod=list" title="{$locale->msg('list_answer')}">{$locale->msg('list_answer')}</a></li>
<li{if $mod eq 'addquestion'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=poll&mod=addquestion" title="{$locale->msg('add_question')}">{$locale->msg('add_question')}</a></li>
<li{if $mod eq 'listquestion'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=poll&mod=listquestion" title="{$locale->msg('list_question')}">{$locale->msg('list_question')}</a></li>
</ul>
{/if}
</li>-->
<!--<li{if $act eq 'weblink'} class="current"{/if}><a href="/{$aScript}?op=manage&act=weblink" title="{$locale->msg('manage_weblink')}">{$locale->msg('manage_weblink')}</a>
{if $act eq 'weblink'}
<ul>
<li{if $mod eq 'add'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=weblink&mod=add" title="{$locale->msg('add_new')}">{$locale->msg('add_new')}</a></li>
<li{if $mod eq 'list'} class="currentsub"{/if}><a href="/{$aScript}?op=manage&act=weblink&mod=list" title="{$locale->msg('list_item')}">{$locale->msg('list_item')}</a></li>
</ul>
{/if}
</li>-->
<!--end change by Thai Nguyen-->
</ul>
</li>

{/if}
<!--<li{if $op eq 'report'} class="current2"}{/if}><a href="/{$aScript}?op=report" title="{$locale->msg('report')}">{$locale->msg('report')}</a></li>-->
{if $authUser->isSiteAdmin() || $authUser->isSiteFounder()}
<li{if $op eq 'system'} class="current"}{/if}><a href="/{$aScript}?op=system" title="{$locale->msg('system')}">{$locale->msg('system')}</a>
{if $op eq 'system'}
<ul>
<li{if $act eq 'config'} class="current"{/if}><a href="/{$aScript}?op=system&act=config" title="{$locale->msg('system_config')}">{$locale->msg('system_config')}</a>
{if $act eq 'config'}
<ul>
<li{if $mod eq 'general'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=config&mod=general" title="{$locale->msg('general_config')}">{$locale->msg('general_config')}</a></li>
<li{if $mod eq 'down'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=config&mod=down" title="{$locale->msg('site_down')}">{$locale->msg('site_down')}</a></li>
<li{if $mod eq 'rate'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=config&mod=rate" title="{$locale->msg('rate_config')}">{$locale->msg('rate_config')}</a></li>
<li{if $mod eq 'saleoff'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=config&mod=saleoff" title="{$locale->msg('sale_off_config')}">{$locale->msg('sale_off_config')}</a></li>
<li{if $mod eq 'order'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=config&mod=order" title="{$locale->msg('order_config')}">{$locale->msg('order_config')}</a></li>
</ul>
{/if}
</li>
{if $authUser->isSiteAdmin() || $authUser->isSiteFounder()}
<li{if $act eq 'staff'} class="current"{/if}><a href="/{$aScript}?op=system&act=staff" title="{$locale->msg('manage_staff')}">{$locale->msg('manage_staff')}</a>
{if $act eq 'staff'}
<ul>
<li{if $mod eq 'add'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=staff&mod=add" title="{$locale->msg('add_new')}">{$locale->msg('add_new')}</a></li>
<li{if $mod eq 'list'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=staff&mod=list" title="{$locale->msg('list_item')}">{$locale->msg('list_item')}</a></li>
{if $authUser->isSiteFounder()}<li{if $mod eq 'listTracking'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=staff&mod=listTracking" title="{$locale->msg('tracking_title')}">{$locale->msg('tracking_title')}</a></li>{/if}
</ul>
{/if}
</li>
<!--<li{if $act eq 'area'} class="current"{/if}><a href="/{$aScript}?op=system&act=area" title="{$locale->msg('manage_area')}">{$locale->msg('manage_area')}</a>
{if $act eq 'area'}
<ul>
<li{if $mod eq 'add'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=area&mod=add" title="{$locale->msg('add_new')}">{$locale->msg('add_new')}</a></li>
<li{if $mod eq 'list'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=area&mod=list" title="{$locale->msg('list_item')}">{$locale->msg('list_item')}</a></li>
</ul>
{/if}
</li>-->
<!--<li{if $act eq 'shipping'} class="current"{/if}><a href="/{$aScript}?op=system&act=shipping" title="{$locale->msg('method_delivery')}">{$locale->msg('method_delivery')}</a>
{if $act eq 'shipping'}
<ul>
<li{if $mod eq 'add'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=shipping&mod=add" title="{$locale->msg('add_new')}">{$locale->msg('add_new')}</a></li>
<li{if $mod eq 'list'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=shipping&mod=list" title="{$locale->msg('list_item')}">{$locale->msg('list_item')}</a></li>
</ul>
{/if}
</li>
<li{if $act eq 'payment'} class="current"{/if}><a href="/{$aScript}?op=system&act=payment" title="{$locale->msg('system_payment_method')}">{$locale->msg('system_payment_method')}</a>
{if $act eq 'payment'}
<ul>
<li{if $mod eq 'add'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=payment&mod=add" title="{$locale->msg('add_new')}">{$locale->msg('add_new')}</a></li>
<li{if $mod eq 'list'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=payment&mod=list" title="{$locale->msg('list_item')}">{$locale->msg('list_item')}</a></li>
</ul>
{/if}
</li>-->
<!--<li{if $act eq 'currency'} class="current"{/if}><a href="/{$aScript}?op=system&act=currency" title="{$locale->msg('system_currency')}">{$locale->msg('system_currency')}</a>
{if $act eq 'currency'}
<ul>
<li{if $mod eq 'add'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=currency&mod=add" title="{$locale->msg('add_new')}">{$locale->msg('add_new')}</a></li>
<li{if $mod eq 'list'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=currency&mod=list" title="{$locale->msg('list_item')}">{$locale->msg('list_item')}</a></li>
</ul>
{/if}
</li>-->
<!--<li{if $act eq 'language'} class="current"{/if}><a href="/{$aScript}?op=system&act=language" title="{$locale->msg('system_language')}">{$locale->msg('system_language')}</a>
{if $act eq 'language'}
<ul>
<li{if $mod eq 'add'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=language&mod=add" title="{$locale->msg('add_new')}">{$locale->msg('add_new')}</a></li>
<li{if $mod eq 'list'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=language&mod=list" title="{$locale->msg('list_item')}">{$locale->msg('list_item')}</a></li>
</ul>
{/if}
</li>-->
<li{if $act eq 'email'} class="current"{/if}><a href="/{$aScript}?op=system&act=email" title="{$locale->msg('system_email_template')}">{$locale->msg('system_email_template')}</a>
{if $act eq 'email'}
<ul>
<li{if $mod eq 'add'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=email&mod=add" title="{$locale->msg('add_new')}">{$locale->msg('add_new')}</a></li>
<li{if $mod eq 'list'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=email&mod=list" title="{$locale->msg('list_item')}">{$locale->msg('list_item')}</a></li>
</ul>
{/if}
</li>
<!--
<li{if $act eq 'field'} class="current"{/if}><a href="/{$aScript}?op=system&act=field" title="{$locale->msg('system_custom_field')}">{$locale->msg('system_custom_field')}</a>
{if $act eq 'field'}
<ul>
<li{if $mod eq 'add'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=field&mod=add" title="{$locale->msg('add_new')}">{$locale->msg('add_new')}</a></li>
<li{if $mod eq 'list'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=field&mod=list" title="{$locale->msg('list_item')}">{$locale->msg('list_item')}</a></li>
</ul>
{/if}
</li>-->
<!--<li{if $act eq 'event'} class="current"{/if}><a href="/{$aScript}?op=system&act=event" title="{$locale->msg('system_event')}">{$locale->msg('system_event')}</a>
{if $act eq 'event'}
<ul>
<li{if $mod eq 'add'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=event&mod=add" title="{$locale->msg('add_new')}">{$locale->msg('add_new')}</a></li>
<li{if $mod eq 'list'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=event&mod=list" title="{$locale->msg('list_item')}">{$locale->msg('list_item')}</a></li>
</ul>
{/if}
</li>-->
<!--<li{if $act eq 'addon'} class="current"{/if}><a href="/{$aScript}?op=system&act=addon" title="{$locale->msg('system_addon')}">{$locale->msg('system_addon')}</a>
{if $act eq 'addon'}
<ul>
<li{if $mod eq 'add'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=addon&mod=add" title="{$locale->msg('add_new')}">{$locale->msg('add_new')}</a></li>
<li{if $mod eq 'list'} class="currentsub"{/if}><a href="/{$aScript}?op=system&act=addon&mod=list" title="{$locale->msg('list_item')}">{$locale->msg('list_item')}</a></li>
</ul>
{/if}
</li>-->
{/if}
</ul>
{/if}
</li>
{/if}

<li{if $op eq 'profile'} class="current"}{/if}><a href="/{$aScript}?op=profile" title="{$locale->msg('profile')}">{$locale->msg('profile')}</a>
{if $op eq 'profile'}
<ul>
<li{if $act eq 'information'} class="current"{/if}><a href="/{$aScript}?op=profile&act=information" title="{$locale->msg('system_profile')} ">{$locale->msg('system_profile')}</a></li>
<li{if $act eq 'password'} class="current"{/if}><a href="/{$aScript}?op=profile&act=password" title="{$locale->msg('change_password')}">{$locale->msg('change_password')}</a></li>
</ul>
{/if}
</li>
</ul>
</div>
<!--
<p>&nbsp;</p>
<p><strong>Account manager</strong></p>
<p>Nguyen Thi Thom</p>
<p>&nbsp;Email: thom.nguyen@derasoft.com</p>
<p>&nbsp;Tel: (08) 3830 7009 (ext. 22)</p>
<p>&nbsp;Cell: 090 3935506</p>
<p>&nbsp;Y!M: thomnguyen</p>
<p>&nbsp;Skype: thomnguyen</p>
-->
</div>
{/if}